.item{
    background-color: #F2F2F2;
    margin-top: 70px;
}

/* ---- ARTICULO ----- */
.item-container{
    max-width: 1440px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}
.picture{
    background-color: #fff;
    width: 50%;
    height: auto;
    object-fit: contain;
    background-repeat: no-repeat;
    margin: 3rem 0 3rem 3rem;
    border-radius: 10px;
}

.info-container{
    width: 50%;
    margin: 3rem 3rem 3rem 1.5rem ;
    padding: 1.5rem;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.info-container h2{
    color: #616161;
    font-size: 28px;
    margin: 0;
}

.info-container h4{
    color: #1b6c7a;
    font-size: 18px;
    margin: 2em 0 0 ;
}

.link-to-credit{
    font-style: italic;
    color: #40b7cd;
    margin: 0.5em 0 0;
}

.link-to-credit{
    color: #5f40cd;
}

.info-container h5{
    color: #616161;
    font-size: 18px;
    margin: 0;
    padding-top: 1rem;
    display: flex;
    align-items: center;
}

.info-container h5 img{
    margin-left: 15px;
}

.info-container div button{
 margin-top: 3rem;
 font-size: 14px;
 padding: 10px 20px ;
}

.btn-canjear{
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    background-color:#40b7cd;
    font-weight: bold;
}

.btn-canjear:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}




/* ---- OTROS ----- */
.similar-container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.similar-title{
    color: #000;
    font-size: 20px;
    margin: 0;
    padding: 1rem 0 0.5rem 30px;
}

/* ---- volver a home ----- */
.back-home{
    display: flex;
}
.btn-home-item{
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color:#40b7cd;
    font-weight: bold;
}

.btn-home-item:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}



@media (max-width: 640px){
    .item-container{
        flex-direction: column;
    }
    .picture{
        margin: 3rem auto 0;
        width: 85%;
        height: auto;
    }
    .info-container{
        width: 74%;
        margin: 1rem 0 4rem;
    }
    .info-container div button{
        margin-top: 1rem;
    }
}
