.credito{
    background-color: #F2F2F2;
    margin-top: 70px;
    min-height: 70vh;
}

.container-credit {
    max-width: 1440px;
    margin: 0 auto;
    height: 300px;
    display: flex;
    padding: 8em 0 5em;
    justify-content: center;
}

/* ---- TEXTO DESCRIPTIVO ----- */
.text-container{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container h3{
    color: #616161;
    font-size: 28px;
    margin: 0;
}

.text-container h5{
    color: #616161;
    font-size: 18px;
    margin: 0;
}

.text-container p{
    color: #A3A3A3;
    font-size: px;
    margin: 0;
    padding-top: 1rem;
}


/* ---- FORMULARIO ----- */
.form-container{
    margin: 1.5rem 0 0 ;
}

.form-container form{
    width: 350px;
    border-radius: 10px;
    padding: 15px 0;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.input{
    width: 80%;
    padding: 5px;
}

.user{
    margin-bottom: 1em;
}

.btn-container{
    margin: 1em;
    display: flex;
    justify-content: space-between;
  
}

.btn-container label{
    display: flex;
    align-items: center;
}

.btn-container input{
    margin-top: 0;
}

.form-container form button{
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 5px;
    background-color:#40b7cd;
    color: black;
    font-weight: bold;
}

.form-container form button:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #18669b;
    font-weight: bold;
    color:white;
}

div label input {
    margin-right:100px;
 }
 body {
     font-family:sans-serif;
 }
 
 .ck-button {
     margin:4px;
     background-color:#EFEFEF;
     border-radius:4px;
     border:1px solid #D0D0D0;
     overflow:auto;
     float:left;
 }
 
 .ck-button:hover {
     background:red;
 }
 .ck-button label {
     float:left;
     width:4.0em;
 }
 
 .ck-button label span {
     text-align:center;
     padding:3px 0px;
     display:block;
 }
 
 .ck-button label input {
     position:absolute;
     top:-20px;
 }
 
 .ck-button input:checked + span {
     background-color:#911;
     color:#fff;
 }

 @media (max-width: 640px){
    .container-credit{
        flex-direction: column;
    }
    .text-container{
        margin: 3rem 1rem 0;
    }
    .form-container{
        margin: 2rem 1rem 3rem;
    }

    .form-container form{
        width: 100%;
    }
    .btn-container{
        width: 90%;
    }

 }