.historial{
    background-color: #F2F2F2;
    margin-top: 70px;
    min-height: 70vh;
}

.historial-container{
    padding: 5em;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ---- history.length === 0 ----- */
.title-history{
    text-align: center;
    font-size: 18px;
}

.btn-history{
    padding: 1rem 1.5rem;
    border-radius: 20px;
    border: none;
    background-color: lightblue;
    color: black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.btn-history:hover{
    box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.37);

}


/* ---- TEXTO DESCRIPTIVO ----- */
.history-product{
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
    margin-bottom: 1em;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

.history-img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.history-product h3{
    color: #616161;
    font-size: 18px;
    margin: 0;
}

.history-product p{
    color: #616161;
    font-size: 14px;
    margin: 0;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}
